<section class="comment-box">

<%= form_for @comment, url: post_comment_path(@post.id), html: {class: "comment-form"} do |f| %>
<%= f.text_field :text, placeholder: "Add a comment...", class: "comment-text" %>
<%= f.hidden_field :user_id, value: @user.id %>
<%= f.hidden_field :post_id, value: @post.id %>

<% end %>


</section>
