<%= image_tag @post.image %>

<%= link_to "Like", like_path(@post.id) %>
<%= link_to "Unlike", unlike_path(@post.id) %>

<%= count_likes(@post) %>


<div class="commentsForm">
  <%= render 'posts/comment' %>
</div>
